In [93]:
import numpy as np
import pandas as pd
import csv
from scipy.sparse import csr_matrix

## IMPORTING DATASETS

In [2]:
artists = pd.read_csv('Musical artists/artists.csv')

In [19]:
file_path = open('Musical artists/artists.csv')
data = csv.reader(file_path, delimiter ='\n')
artists=[]
for items in data:
    artists.append(items[0])

In [17]:
artists

['Massive Attack',
 'Sublime',
 'Beastie Boys',
 'Neil Young',
 'Dead Kennedys',
 'Orbital',
 'Miles Davis',
 'Leonard Cohen',
 'Van Morrison',
 'NOFX',
 'Rancid',
 'Lamb',
 'Korn',
 'Dropkick Murphys',
 'Bob Dylan',
 'Eminem',
 'Nirvana',
 'Van Halen',
 'Damien Rice',
 'Elvis Costello',
 'Everclear',
 'Jimi Hendrix',
 'PJ Harvey',
 'Red Hot Chili Peppers',
 'Ryan Adams',
 'Soundgarden',
 'The White Stripes',
 'Madonna',
 'Eric Clapton',
 'Bob Marley',
 'Dr. Dre',
 'The Flaming Lips',
 'Tom Waits',
 'Moby',
 'Cypress Hill',
 'Garbage',
 'Fear Factory',
 '50 Cent',
 'Ani DiFranco',
 'Matchbox Twenty',
 'The Police',
 'Eagles',
 'Phish',
 'Stone Temple Pilots',
 'Black Sabbath',
 'Britney Spears',
 'Fatboy Slim',
 'System of a Down',
 'Simon & Garfunkel',
 'Snoop Dogg',
 'Aimee Mann',
 'Less Than Jake',
 'Rammstein',
 'Reel Big Fish',
 'The Prodigy',
 'Pantera',
 'Foo Fighters',
 'The Beatles',
 'Incubus',
 'Audioslave',
 'Bright Eyes',
 'Machine Head',
 'AC/DC',
 'Dire Straits',
 'MotÃ¶rhead',
 'Ramones',
 'Slipknot',
 'Me First and the Gimme Gimmes',
 'Bruce Springsteen',
 'Queens of the Stone Age',
 'The Chemical Brothers',
 'Bon Jovi',
 'Goo Goo Dolls',
 'Alice in Chains',
 'Howard Shore',
 'Barenaked Ladies',
 'Anti-Flag',
 'Nick Cave and the Bad Seeds',
 'Static-X',
 'Misfits',
 '2Pac',
 'Sparta',
 'Interpol',
 'The Crystal Method',
 'The Beach Boys',
 'Goldfrapp',
 'Bob Marley & the Wailers',
 'Kylie Minogue',
 'The Blood Brothers',
 'Mirah',
 'Ludacris',
 'Snow Patrol',
 'The Mars Volta',
 'Yeah Yeah Yeahs',
 'Iced Earth',
 'Fiona Apple',
 'Rilo Kiley',
 'Rufus Wainwright',
 'Flogging Molly',
 'Hot Hot Heat',
 'Dredg',
 'Switchfoot',
 'Tegan and Sara',
 'Rage Against the Machine',
 'Keane',
 'Jet',
 'Franz Ferdinand',
 'The Postal Service',
 'The Dresden Dolls',
 'The Killers',
 'Death From Above 1979']

In [20]:
data = pd.read_csv('Musical artists/scrobbler-small-sample.csv')

In [21]:
data

      user_offset  artist_offset  playcount
0               1             79         58
1               1             84         80
2               1             86        317
3               1             89         64
4               1             96        159
...           ...            ...        ...
2889            0             75        371
2890            0             26         58
2891            0             52         58
2892            0             54         53
2893            0              1        128

[2894 rows x 3 columns]

## PREPROCESSING DATA

In [24]:
data.user_offset.value_counts()

253    28
227    23
306    22
166    21
18     20
       ..
283     3
285     3
182     3
176     3
220     3
Name: user_offset, Length: 500, dtype: int64

In [25]:
data.user_offset.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499,   0], dtype=int64)

In [30]:
data=data.pivot_table(index='artist_offset',columns='user_offset',values='playcount')

In [31]:
data=data.replace(np.nan , 0)

In [32]:
data

user_offset,0,1,2,3,4,5,6,7,8,9,...,490,491,492,493,494,495,496,497,498,499
artist_offset,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,105.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,128.0,211.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,270.0,0.0,105.0,97.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,84.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
107,0.0,0.0,75.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,51.0,0.0,0.0,0.0,0.0,0.0,475.0,0.0
108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,55.0,0.0
110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
data_csr_matrix=csr_matrix(data)

In [36]:
data_csr_matrix

<111x500 sparse matrix of type '<class 'numpy.float64'>'
	with 2894 stored elements in Compressed Sparse Row format>

## SCALING DATA

In [78]:
from sklearn.preprocessing import MaxAbsScaler

scaler=MaxAbsScaler()
scaler.fit(data_csr_matrix)
maxabsscaler_data_csr_matrix = scaler.transform(data_csr_matrix)

## MODEL FITTING

In [80]:
from sklearn.decomposition import NMF

model = NMF(n_components = 20)
model.fit(maxabsscaler_data_csr_matrix)

C:\Users\lfc\anaconda3\lib\site-packages\sklearn\decomposition\_nmf.py:312: FutureWarning: The 'init' value, when 'init=None' and n_components is less than n_samples and n_features, will be changed from 'nndsvd' to 'nndsvda' in 1.1 (renaming of 0.26).
  warnings.warn(("The 'init' value, when 'init=None' and "

NMF(n_components=20)

In [81]:
nmf_features = model.transform(maxabsscaler_data_csr_matrix)

In [82]:
nmf_features.shape

(111, 20)

In [83]:
model.components_.shape

(20, 500)

## Normalizing the nmf_features

In [84]:
from sklearn.preprocessing import normalize

In [85]:
normalized_nmf_features = normalize(nmf_features)

In [86]:
df=pd.DataFrame(normalized_nmf_features , index =artists)

In [90]:
artist = df.loc['Bob Dylan']

In [91]:
recommendation = df.dot(artist)

In [92]:
print(recommendation.nlargest())

Bob Dylan       1.000000
Neil Young      0.958643
Ryan Adams      0.946185
Tom Waits       0.927434
Van Morrison    0.893894
dtype: float64